<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.shenghui.jd.dao.system.category.mapper.CategoryMapper">

    <resultMap id="categoryResult" type="cn.shenghui.jd.dao.system.category.model.Category">
        <id column="category_id" jdbcType="VARCHAR" property="categoryId"/>
        <result column="category_name" jdbcType="VARCHAR" property="categoryName"/>
        <result column="warehouse_id" jdbcType="VARCHAR" property="warehouseId"/>
    </resultMap>

    <select id="getCategoryById" parameterType="java.lang.String" resultMap="categoryResult">
        select *
        from category
        where del_flag = 0
          and category_id = #{categoryId,jdbcType=VARCHAR};
    </select>

    <select id="getCategoryList" parameterType="java.lang.String" resultMap="categoryResult">
        select * from category
        <where>
            del_flag = 0
            <if test="content != null and content != ''">
                and category_id like concat('%', #{content,jdbcType=VARCHAR} '%')
                or category_name like concat('%', #{content,jdbcType=VARCHAR} '%')
                or warehouse_id like concat('%', #{content,jdbcType=VARCHAR} '%')
            </if>;
        </where>
    </select>

    <insert id="addCategory" parameterType="cn.shenghui.jd.dao.system.category.model.Category">
        insert into category
        values (#{categoryId,jdbcType=VARCHAR}, #{categoryName,jdbcType=VARCHAR}, #{warehouseId,jdbcType=VARCHAR}, 0);
    </insert>

    <update id="removeCategory" parameterType="java.lang.String">
        update category
        set del_flag = 1
        where category_id = #{categoryId,jdbcType=VARCHAR};
    </update>

    <update id="updateCategory" parameterType="cn.shenghui.jd.dao.system.category.model.Category">
        update category
        <set>
            <if test="categoryName != null and categoryName != ''">category_name = #{categoryName,jdbcType=VARCHAR},
            </if>
            <if test="warehouseId != null and warehouseId != ''">warehouse_id = #{warehouseId,jdbcType=VARCHAR},</if>
            del_flag = 0
        </set>
        where category_id = #{categoryId,jdbcType=VARCHAR};
    </update>

    <select id="countCategory" resultType="int">
        select count(*)
        from category;
    </select>
</mapper>