<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.shenghui.jd.dao.system.order.mapper.OrderMapper">

    <resultMap id="orderResult" type="cn.shenghui.jd.dao.system.order.model.Order">
        <id column="order_id" jdbcType="VARCHAR" property="orderId"/>
        <id column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="order_pid" jdbcType="VARCHAR" property="orderPid"/>
        <result column="total_price" jdbcType="DECIMAL" property="totalPrice"/>
        <result column="order_status" jdbcType="VARCHAR" property="orderStatus"/>
        <result column="order_time" jdbcType="VARCHAR" property="orderTime"/>
        <result column="arrival_time" jdbcType="VARCHAR" property="arrivalTime"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
    </resultMap>

    <select id="getOrderList" parameterType="java.lang.String" resultMap="orderResult">
        select *
        from `order`
        where user_id = #{userId,jdbcType=VARCHAR};
    </select>

    <insert id="addOrder" parameterType="cn.shenghui.jd.dao.system.order.model.Order">
        insert into `order`
        values (#{orderId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{orderPid,jdbcType=VARCHAR},
                #{totalPrice,jdbcType=DECIMAL}, #{orderStatus,jdbcType=VARCHAR}, #{orderTime,jdbcType=VARCHAR},
                #{arrivalTime,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 0);
    </insert>

    <insert id="addOrderDetails" parameterType="cn.shenghui.jd.dao.system.order.model.OrderDetails">
        insert into order_details
        values (#{orderId,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR},
                #{productNum,jdbcType=INTEGER}, #{unitPrice,jdbcType=DECIMAL}, #{description,jdbcType=VARCHAR});
    </insert>

    <update id="updateOrderStatus">
        update `order`
        set order_status = #{orderStatus,jdbcType=VARCHAR}
        where order_id = #{orderId,jdbcType=VARCHAR};
    </update>

    <select id="countOrder" resultType="int">
        select count(*)
        from `order`;
    </select>

    <select id="countOrderDetails" resultType="int">
        select count(*)
        from order_details;
    </select>
</mapper>