<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.shenghui.jd.dao.system.product.mapper.ProductMapper">

    <resultMap id="productResult" type="cn.shenghui.jd.dao.system.product.dto.ProductDetails">
        <id column="product_id" jdbcType="VARCHAR" property="productId"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="category_id" jdbcType="VARCHAR" property="categoryId"/>
        <result column="category_name" jdbcType="VARCHAR" property="categoryName"/>
        <result column="available_num" jdbcType="INTEGER" property="availableNum"/>
        <result column="frozen_num" jdbcType="INTEGER" property="frozenNum"/>
        <result column="unit_price" jdbcType="DECIMAL" property="unitPrice"/>
        <result column="product_status" jdbcType="VARCHAR" property="productStatus"/>
        <result column="start_time" jdbcType="VARCHAR" property="startTime"/>
        <result column="end_time" jdbcType="VARCHAR" property="endTime"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>

    <select id="getProductList" parameterType="java.lang.String" resultMap="productResult">
        select * from product p inner join category c on p.category_id = c.category_id where p.del_flag = 0
        <if test="content != null and content != ''">
            and (p.product_id like concat('%', #{content,jdbcType=VARCHAR}, '%')
            or p.product_name like concat('%', #{content,jdbcType=VARCHAR}, '%')
            or c.category_name like concat('%', #{content,jdbcType=VARCHAR}, '%')
            or p.available_num like concat('%', #{content,jdbcType=VARCHAR}, '%')
            or p.frozen_num like concat('%', #{content,jdbcType=VARCHAR}, '%')
            or p.unit_price like concat('%', #{content,jdbcType=VARCHAR}, '%')
            or p.product_status like concat('%', #{content,jdbcType=VARCHAR}, '%')
            or p.start_time like concat('%', #{content,jdbcType=VARCHAR}, '%')
            or p.end_time like concat('%', #{content,jdbcType=VARCHAR}, '%')
            or p.description like concat('%', #{content,jdbcType=VARCHAR}, '%'))
        </if>
        order by LENGTH(product_id) ASC
    </select>

    <select id="getProductsByIds" parameterType="java.util.List" resultMap="productResult">
        select * from product where del_flag = 0 and product_id in
        <foreach collection="productIds" item="item" index="index" separator="," open="(" close=")">#{item}</foreach>;
    </select>

    <insert id="addProduct" parameterType="cn.shenghui.jd.dao.system.product.model.Product">
        insert into product(product_id, product_name, category_id, available_num, frozen_num,
        unit_price, product_status, start_time, end_time
        <if test="description != null and description != ''">, description</if>, del_flag)
        values (#{productId,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, #{categoryId,jdbcType=VARCHAR},
        #{availableNum,jdbcType=INTEGER}, #{frozenNum,jdbcType=INTEGER}, #{unitPrice,jdbcType=DECIMAL},
        #{productStatus,jdbcType=VARCHAR}, #{startTime,jdbcType=VARCHAR}, #{endTime,jdbcType=VARCHAR},
        <if test="description != null and description != ''">#{description,jdbcType=VARCHAR},</if>0);
    </insert>

    <update id="updateProduct" parameterType="cn.shenghui.jd.dao.system.product.model.Product">
        update product
        <set>
            <if test="productName != null and productName != ''">product_name = #{productName,jdbcType=VARCHAR},</if>
            <if test="categoryId != null and categoryId != ''">category_id = #{categoryId,jdbcType=VARCHAR},</if>
            <if test="availableNum != null and availableNum >= 0">available_num = #{availableNum,jdbcType=INTEGER},</if>
            <if test="frozenNum != null and frozenNum >= 0">frozen_num = #{frozenNum,jdbcType=INTEGER},</if>
            <if test="unitPrice != null and unitPrice >= 0.0">unit_price = #{unitPrice,jdbcType=DECIMAL},</if>
            <if test="productStatus != null">product_status = #{productStatus,jdbcType=VARCHAR},</if>
            <if test="startTime != null and startTime != ''">start_time = #{startTime,jdbcType=VARCHAR},</if>
            <if test="endTime != null and endTime != ''">end_time = #{endTime,jdbcType=VARCHAR},</if>
            <if test="description != null and description != ''">description = #{description,jdbcType=VARCHAR}</if>
        </set>
        where del_flag = 0 and product_id = #{productId,jdbcType=VARCHAR};
    </update>

    <update id="productUp">
        update product
        set product_status = #{productStatus,jdbcType=VARCHAR}, start_time = #{startTime,jdbcType=VARCHAR},
        end_time = null
        where del_flag = 0 and product_id in
        <foreach collection="productIds" item="item" index="index" separator="," open="(" close=")">#{item}</foreach>;
    </update>

    <update id="productDown">
        update product
        set product_status = #{productStatus,jdbcType=VARCHAR}, end_time = #{endTime,jdbcType=VARCHAR}
        where del_flag = 0 and product_id in
        <foreach collection="productIds" item="item" index="index" separator="," open="(" close=")">#{item}</foreach>;
    </update>

    <update id="removeProduct" parameterType="java.lang.String">
        update product
        set del_flag = 1
        where product_id = #{productId,jdbcType=VARCHAR};
    </update>

    <select id="countProduct" resultType="int">
        select count(*)
        from product;
    </select>

    <select id="getProductListUser" parameterType="java.lang.String" resultMap="productResult">
        select * from product p inner join category c on p.category_id = c.category_id where p.del_flag = 0
        <if test="content != null and content != ''">
            and (p.product_name like concat('%', #{content,jdbcType=VARCHAR}, '%')
            or c.category_name like concat('%', #{content,jdbcType=VARCHAR}, '%')
            or p.available_num like concat('%', #{content,jdbcType=VARCHAR}, '%')
            or p.unit_price like concat('%', #{content,jdbcType=VARCHAR}, '%')
            or p.description like concat('%', #{content,jdbcType=VARCHAR}, '%'))
        </if>
        order by LENGTH(product_id) ASC
    </select>

    <select id="getProductsByIdsUser" parameterType="java.util.List" resultMap="productResult">
        select p.product_id, p.product_name, c.category_name, p.available_num, p.unit_price from product p inner join
        category c on p.category_id = c.category_id where p.del_flag = 0
        and product_id in
        <foreach collection="productIds" item="item" index="index" separator="," open="(" close=")">#{item}</foreach>;
    </select>
</mapper>