<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.shenghui.jd.dao.system.warehouse.mapper.WarehouseMapper">

    <resultMap id="warehouseResult" type="cn.shenghui.jd.dao.system.warehouse.model.Warehouse">
        <id column="warehouse_id" jdbcType="VARCHAR" property="warehouseId"/>
        <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName"/>
    </resultMap>

    <select id="getWarehouseById" parameterType="java.lang.String" resultMap="warehouseResult">
        select * from warehouse where warehouse_id = #{warehouseId,jdbcType=VARCHAR}
    </select>

    <select id="getWarehouseList" parameterType="java.lang.String" resultMap="warehouseResult">
        select * from warehouse
        <where>
            del_flag = 0
            <if test="content != null and content != ''">
                and warehouse_id like concat('%', #{content,jdbcType=VARCHAR} '%')
                or warehouse_name like concat('%', #{content,jdbcType=VARCHAR} '%')
            </if>
        </where>
        order by LENGTH(warehouse_id) ASC
    </select>

    <update id="addWarehouse" parameterType="cn.shenghui.jd.dao.system.warehouse.model.Warehouse">
        insert into warehouse(warehouse_id,
                              warehouse_name,
                              del_flag)
        values (#{warehouseId,jdbcType=VARCHAR},
                #{warehouseName,jdbcType=VARCHAR},
                0)
    </update>

    <update id="removeWarehouse" parameterType="java.lang.String">
        update warehouse
        set del_flag = 1
        where warehouse_id = #{warehouseId,jdbcType=VARCHAR}
    </update>

    <update id="updateWarehouse" parameterType="cn.shenghui.jd.dao.system.warehouse.model.Warehouse">
        update warehouse
        set warehouse_name = #{warehouseName,jdbcType=VARCHAR}
        where warehouse_id = #{warehouseId,jdbcType=VARCHAR}
    </update>

    <select id="countWarehouse" resultType="int">
        select count(*)
        from warehouse
    </select>
</mapper>