<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang = "zh"
>

<head>
    <title>Order details</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link th:href="@{/lib/layui/css/layui.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script th:src="@{/js/system/order/orderDetails.js}" charset="utf-8"></script>
</head>

<body>
<div id="type" class="layui-form">
    <input type="hidden" id="orderId" th:value="${orderId}" readonly="readonly"/>

    <table class="layui-hide" id="orderDetails" lay-filter="type"></table>
</div>

</body>
</html>